In [1]:
import pandas as pd

In [14]:
df = pd.read_csv("rupture_duration.txt",sep=" ", header=None, names=["Station", "Rd"])
df.head()

  Station  Rd
0     ULN  43
1    MAJO  44
2    MIDW  45
3    TARA  45
4     PMG  48

In [15]:
df.describe()

              Rd
count  18.000000
mean   49.888889
std     7.003267
min    41.000000
25%    44.000000
50%    48.500000
75%    55.750000
max    63.000000

#### Minimum rupture duration

$Td_{min} = L\cdot(1/Vr - 1/Vp)$

#### Maximum rupture duration

$Td_{max} = L\cdot(1/Vr + 1/Vp)$

#### Mean (average) rupture duration

$Td_{mean} = L/Vr$

In [35]:
vp = 12 # km/s
Tdmin = min(df["Rd"]) # s
Tdmax = max(df["Rd"]) #s 
Tdmean = df["Rd"].mean() # s

In [37]:
print("The minimum rupture duration is {}, the maximum rupture duration is {} and the mean is {:2.2f}.".format(Tdmin, Tdmax, Tdmean))

The minimum rupture duration is 41, the maximum rupture duration is 63 and the mean is 49.89.

#### Rupture Length

$Td_{max} - Td_{min} = 2L/V_p$

$\Rightarrow L = (Td_{max} - Td_{min})*V_p/2$

In [41]:
L = (Tdmax - Tdmin)*vp/2
L # km

132.0

##### Rupture rate

$Td_{max} + Td_{min} = 2L/V_r$

$\Rightarrow V_r = 2L/(Td_{max} + Td_{min}$)

In [43]:
vr = 2*L / (Tdmax + Tdmin)
vr # km/s

2.5384615384615383